# Core e orchestrazione
langchain
langchain_community

# Integrazioni
langchain_qdrant
qdrant-client
langchain-groq
langchain-jina  
import pytesseract
ultralytics

# Parsing e utilità
unstructured[pdf,local-inference]
pypdf
python-dotenv

# UI
streamlit
streamlit_pdf_viewer